// NAV

.nav {
    background-color: $second-color;
	width: 260px;
	position: fixed;

    transition: all ease $transition-time;
    

}
.nav__list {
    // margin-top: 20px;
}

.nav__logo {
    // width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

// LOGO

.logo__icon {
	color: $text-white;
	font-size: 70px;
  transition: all ease $transition-time;
}

.logo__icon:hover {
	color: $accent-color;
	
}

.nav-list {
    background-color: #333;
	display: flex;
	flex-direction: column;
    // border: 2px solid #333;
    
    
    & li {
        background-color: $second-color;
        color: $text-white;
        font-size: 16px;
        
        
        transition: all .2s ease;
        line-height: 1.2em;
    
        &.current-menu-item {
            background-color: $accent-color;
            color: $text-black;
        }
    
        // &_main{

        //     position: relative;

        
        // }
        // &_main:after {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     // background-color: #fff;
        //     top: 0;
        //     left: 0;
        //     border-bottom: 1px solid $text-white;
        //     border-top: 1px solid $text-white;
        //     pointer-events: none;
        // }
    
        &:hover {
            background-color: $accent-color;
            color: $text-black;
            &::after {
                border-color: $second-color;
            }
        }
    
        &:nth-last-child(2) {
            margin-bottom: 30px;
        }
    }

    & a {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
}


.nav-list {
}
.logo {
}

.menu-btn {
    display: none;
  
    align-items: center;  /* центрируем содержимое кнопки */
    width: 26px;
    height: 26px;  cursor: pointer;
    z-index: 1;
    background: none;
    border: none;
    position: relative;
    opacity: 0.8;

    

    &_always-visible {
      display: flex;
    }

    & > span,
    & > span::before,
    & > span::after {
      display: block;
      position: absolute;  width: 100%;
      height: 2px;  background-color: $text-white;
      transition: all ease $transition-time;
      
    }
    & > span::before {
      content: '';
      top: -8px;
    }
    & > span::after {
      content: '';
      top: 8px;
    }

    &_active {
      & > span {
        transform: rotate(45deg);
      }
      & > span::before {
        top: 0;
        transform: rotate(0);
      }
      & > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      & .menu__box {
        visibility: visible;
        left: 0;
      }
  }
}







@media screen and (max-width: 1200px) {
    .nav {
		left: 0;
        top: 116px;
		transform: translateX(-100%);
		z-index: 3;
    }

    .nav_always-invisible {
    position: absolute;
    left: 0;
    top: 84px;
    transform: translateX(-100%);
    z-index: 3;
    }
    
    .nav_visible {
        transform: translate(0);
    }

    .nav__logo {
        display: none;
    }

   .menu-btn {
    display: flex;
  }

    

    
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 320px) {
}
