/*normolize*/
@import "normolize.css";
/*Fonts*/
@import "fonts.css";
/*Specification*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body {
  font-family: "Inter", "Verdana", "Arial" sans-serif;
  margin: 0;
  font-size: 14px;
  color: #fff;
  font-weight: 100;
  line-height: 1.1em;
  background-color: #D9D9D9;
  overflow-x: hidden;
}

section, form {
  overflow-x: hidden;
}

.div, p, form, input, a, span, button {
  /*box-sizing: border-box;*/
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

a, a:hover, a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  text-align: left;
}

p {
  text-align: left;
}

h1 {
  font-size: 60px;
  color: #111;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  color: #fff;
}

/*h5{
	font-size: 15px;
	color: #fff;
	font-weight: 800;
}*/
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-list__link {
  display: block;
}