// NAV

.nav {
    

}
.nav__list {
    margin-top: 20px;
}

.nav__logo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

// LOGO

.logo__icon {
	color: $text-white;
	font-size: 70px;
}

.nav-list {
    background-color: #333;
	display: flex;
	flex-direction: column;
    // border: 2px solid #333;
    
    
    &__item {
        background-color: $second-color;
        color: $text-white;
        font-size: 16px;
        
        
        transition: all .2s ease;
        line-height: 1.2em;
    
        &_active {
            background-color: $accent-color;
            color: $text-black;
        }
    
        &_main{

            position: relative;

        
        }
        &_main:after {
            content: "";
            display: block;
            width: calc(100% + 15px);
            height: 100%;
            position: absolute;
            // background-color: #fff;
            top: 0;
            left: 0;
            border-bottom: 1px solid $text-white;
            border-top: 1px solid $text-white;
            pointer-events: none;
        }
    
        &:hover {
            background-color: $accent-color;
            color: $text-black;
            &::after {
                border-color: $second-color;
            }
        }
    
        &:nth-last-child(2) {
            margin-bottom: 30px;
        }
    }

    &__link {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.nav-list {
}
.logo {
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 320px) {
}
