/* POPUP */

.contacts-popup {
    cursor: pointer;
}
.popup-wrapper {
    display: flex;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: opacity 0.2s ease;
    opacity: 0;
}


._popup-show {
    opacity: 1;
    pointer-events: auto;
}

.popup {
    font-family: "Inter", "Verdana", "Arial", sans-serif;
    font-size: 20px;

    max-width: 600px;
    padding: 25px;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    position: relative;
    transition: transform 0.2s ease;
    transform: scale(0);
}

._popup-show > .popup {
    transform: scale(1);
}

/* скрываем чекбокс */
#popup__toggle {
    opacity: 0;
  }/* стилизуем кнопку */
  .popup__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 4;
  }/* добавляем "гамбургер" */

  .popup__btn > span {
    transform: rotate(45deg);
  }
  .popup__btn > span,
  .popup__btn > span::before,
  .popup__btn > span::after {
    display: block;
    position: absolute;  width: 100%;
    height: 2px;  background-color: #000;
  }
  .popup__btn > span::after {
    content: '';
    transform: rotate(90deg);
  }


._scroll-lock {
    overflow-y: hidden;
}

._always-show {
    opacity: 1;
}

.contacts-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacts-list__item {
    position: relative;
    margin-bottom: 10px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.contacts-list__item:after {
    content: '';
    width: 0;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.4s ease; 
}

.contacts-list__item:hover:after {
    width: 100%;
    height: 2px;
    
}

.contacts-list__link {
    color: #000;
    padding: 5px;
    display: block;
}