/*normolize*/
@import "normolize";

/*Fonts*/
@import "fonts";



// Переменные

$font: 'Inter', 'Verdana', 'Arial', sans-serif;


$back-color: #D9D9D9;
$dominant-color: #fff;
$second-color: #333333;
$accent-color: #CED305;
$gray: #dddddd;


$text-white: #fff;
$text-black: #111;

$transition-time: .2s;


$box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);


/*Specification*/
*{
	box-sizing: border-box;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

.body{
	font-family: $font;
	margin: 0;

	font-size: 14px;
	color: $text-black;
	font-weight: 400;
	
	line-height: 1.2em;
	background-color: $back-color;
	
	overflow-x: hidden;

	min-height: 100vh;



	display: flex;
	justify-content: center;
	align-items: stretch;
}

section, form{
	overflow-x: hidden;
}

// .container{
// 	margin: 0 auto;
// 	padding: 0 25px;
// 	max-width: 1170px;
// 	width: 100%;
// 	height: 100%;
// }

.div, p, form, input, a, span, button{
	/*box-sizing: border-box;*/
}



a, a:hover, a:active, a:visited{
	text-decoration: none;
	color: inherit;
}

a {
	display: block;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	text-align: left;
}

p{
	text-align: left;
}

h1{
	font-size: 60px;
	font-weight: bold;
}

h2{
	font-size: 18px;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

ul, ol {
	list-style: none;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1620px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px;
}
// NAV

@import '_nav';

.sidebar {
	position: relative;
	// width: 260px;
	flex: 0 0 260px;
	// border-right: 15px solid $second-color;

	&_bg-second-color {
		background-color: $second-color;
	}
}


// HEADER

@import '_header';

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	flex: 1 1 auto;

	align-items: center;
}

.content_article {
	// margin: 0 20px;
	margin: 0;
	
}

.page {
	flex: 1 1 auto;
	padding: 30px 0 50px 0;
	margin: 20px;

	background-color: #fff;



	&__title {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		position: relative;
		display: inline-block;
	}
}

.page_article {
	max-width: 800px;
	margin: 20px;
}

.blog__title {
	margin: 0.3em 0 0.4em 0;
	&:after {
		content: '';
		position: absolute;
		width: 4%;
		height: 2px;
		background-color: $accent-color;
		bottom: -4px;
		left: 0;
	}
}

// Breadcrumbs

@import '_breadcrumbs';


@import '_cards';


@import '_pagination';

// FOOTER

@import '_footer';




.content_article {
	font-size: 18px;

	.paragraph {
		margin-bottom: 20px;
		line-height: 1.6em;
	}

	h1,h2,h3,h4,h5,h6 {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	h1 {
		font-size: 35px;

	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 25px;
	}

	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 15px;
	}

	h6 {
		font-size: 10px;
	}



	// Перепишу под БЭМ, section__list...
	section {

		.blog__link {
			display: inline;
			position: relative;
			transition: all ease $transition-time;
			color: $accent-color;
			// &:after {
			// 	position: absolute;
			// 	width: 80%;
			// 	height: 2px;
			// 	background-color: $accent-color;
			// 	bottom: -2px;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	content: '';
			// }

			&:hover {
				color: $second-color;

				// &:after {
				// 	background-color: $text-black;
				// }
			}
		}

		.article-list {
			padding-left: 40px;
		}
		.article-list li {
			// display: inline;
			position: relative;
			margin-bottom: 10px;
			line-height: 1.2em;
	
			&:last-child {
				margin-bottom: 0;
			}
		}
	
	
		.article-list li:before, ol li::before {
			position: absolute;
			left: -35px;
			top: -5px;
			height: 1.2rem;
			width: 1.2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
		}
		.article-list li::before {
			content: '—';
			color: $accent-color;
		}
	
		
		ol.article-list {
			counter-reset: list 0; 
		}
		ol.article-list li::before {
			counter-increment: list;
			content: counter(list) '.';
			position: absolute;
			color: $text-white;

			
			border-radius: 50%;
			background-color: $accent-color;
		}

		
	}
	.arcticle__figure {
		margin: 0 0 20px 0;
		display: flex;
	}

	.figure {
		&__item {
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			margin: 0 5px;
			// word-wrap: break-word;
			word-break: break-all;
			// hyphens: auto;
			width: 100%;
			flex: 0 1 auto;
		}
	}

	figcaption {
		text-align: center;
		font-size: 15px;
	}



	.blockquote {
		position: relative;
		padding: 16px 24px;
		margin: 16px 16px 26px 16px;    
		font-size: 16px;
		border-top: 2px solid $accent-color;
		border-bottom: 2px solid $accent-color;
	}
	.blockquote::after {
		font-family: Times, sans-serif;
		font-weight: bold;
		position: absolute;
		content: "”";
		color: #fcffb1;
		// color: #BFE2FF;
		// opacity: 0.3;
		font-size: 160px;
		line-height: 0;
		bottom: -22px;
		right: 30px;
		text-shadow: 2px 0 0 $accent-color, -2px 0 0 $accent-color, 0 2px 0 $accent-color, 0 -2px 0 $accent-color, 1px 1px $accent-color, -1px -1px 0 $accent-color, 1px -1px 0 $accent-color, -1px 1px 0 $accent-color;    
		// text-shadow: 2px 0 0 #337AB7, -2px 0 0 #337AB7, 0 2px 0 #337AB7, 0 -2px 0 #337AB7, 1px 1px #337AB7, -1px -1px 0 #337AB7, 1px -1px 0 #337AB7, -1px 1px 0 #337AB7;	
	}
	.blockquote cite {
		color: $accent-color;
		font-size: 15px;
		padding-top: 20px;
		display: block;
		max-width: calc(100% - 100px);
	}

	.table-figure {
		overflow: hidden;
		margin-left: 10px;
			width: calc(100% - 20px);
		figcaption {
			
		}
	}

	.table {
		margin-left: 0;
		overflow-x: auto;
		// width: 100%;
	
		border: none;
	
		margin-bottom: 20px;


		max-width: 100%;
  display: inline-block;
  overflow-x: auto;
	
	}
	
	.table thead th {
	
		font-weight: bold;
	
		text-align: left;
	
		border: none;
	
		padding: 10px 15px;
	
		background: $accent-color;
	
		font-size: 14px;

		min-width: 200px;
	
	}
	
	.table thead tr th:first-child {
	
		border-radius: 8px 0 0 0;
	
	}
	
	.table thead tr th:last-child {
	
		border-radius: 0 8px 0 0;
	
	}
	
	.table tbody td {
	
		text-align: left;
	
		border: none;
	
		padding: 10px 15px;
	
		font-size: 14px;
	
		vertical-align: top;
	
	}
	
	.table tbody tr:nth-child(even){
	
		background: #f3f3f3;
	
	}
	
	.table tbody tr td:first-child {
	
		border-radius: 8px 0 0 8px;
	
	}
	
	.table tbody tr td:last-child {
	
		border-radius: 0 8px 8px 0;
	
	}
	
}

.sidebar-left_always-invisible {
	position: absolute;
		left: 0;
		top: 0;
}

@media screen and (max-width: 1200px) {
	.sidebar-left {
		position: absolute;
		left: 0;
		top: 0;
	}

	.page {
		margin: 20px 0 20px 0;
	}
	
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 320px) {
}
